# Virtual environment
carenv/
__pycache__/
.ipynb_checkpoints/

# Datasets (DO NOT PUSH)
dataset
notebooks/dataset/processed/
models/car_model_efficientnet.h5
models/car_not_car_detector.h5 
*.pt
utils/car_detector.py
scripts


# Editor / OS
.vscode/
.DS_Store
